<!DOCTYPE html>

<html>
  <head>
    <title>workflow system</title>
    <link rel="stylesheet" media="screen" href="./app/assets/css/bootstrap.min.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="header"></div>
    <div class="container">
      <div class="row">
        <div id="side_menu" class="col-sm-2"></div>
        <div id="main" class="col-sm-10"></div>
      </div>
    </div>

    <script id="header_view" type="text/template">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_links">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Workflow System</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar_links">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#"><%= username() %></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </script>

    <script id="side_menu_view" type="text/template">
      <li class="requests"><a href="#">Index</a></li>
      <li class="new-request"><a href="#">New</a></li>
      <li class="users"><a href="#">Users</a></li>
      <li class="status-list"><a href="#">StatusList</a></li>
    </script>

    <script id="requests_view" type="text/template">
      <div class="panel-heading">Request List</div>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Title</th>
            <th>User</th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody id="request_list"></tbody>
      </table>
    </script>

    <script id="request_view" type="text/template">
      <td><%- id %></td>
      <td><%- status.name %></td>
      <td><%- title %></td>
      <td><%- user.name %></td>
      <td><a href="#" class="btn btn-default btn-xs show-request">Show</a></td>
      <td><a href="#" class="btn btn-default btn-xs edit-request">Edit</a></td>
      <td><a href="#" class="btn btn-link btn-xs delete-request">Delete</a></td>
    </script>

    <script id="request_form_view" type="text/template">
      <div class="panel-heading">Request Form</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <%= id() %>
          <%= status() %>
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="title form-control" name="title">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
              <textarea type="text" class="content form-control" name="content"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default save-btn">Save</button>
              <button type="button" class="btn btn-default submit-btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </script>

    <script id="show_request_view" type="text/template">
      <div class="panel-heading">Show Request</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd><%- id %></dd>
          <dt>Status</dt>
          <dd><%- status.name %></dd>
          <dt>User</dt>
          <dd><%- user.name %></dd>
          <dt>Team</dt>
          <dd><%- user.team %></dd>
          <dt>Title</dt>
          <dd><%- title %></dd>
          <dt>Content</dt>
          <dd><%- content %></dd>
        </dl>
      </div>
    </script>

    <script id="users_main_view" type="text/template">
      <div id="users_main"></div>
    </script>

    <script id="users_view" type="text/template">
      <div class="panel-heading">
        User List
        <div class="pull-right">
          <a class="btn btn-default btn-xs new-user" href="#">New</a>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>UserId</th>
          <th>Name</th>
          <th>Team</th>
          <th>JobLevel</th>
          <th>Admin</th>
          <th></th>
        </tr>
        <tbody id="user_list"></tbody>
      </table>
    </script>

    <script id="user_view" type="text/template">
      <td><%- uid %></td>
      <td><%- name %></td>
      <td><%- team %></td>
      <td><%- jobLevel %></td>
      <td><%- admin %></td>
      <td><a class="btn btn-link btn-xs delete">Delete</a></td>
    </script>

    <script id="user_form_view" type="text/template">
      <div class="panel-heading">New User</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">User Id</label>
            <div class="col-sm-10">
              <input type="text" class="uid form-control" name="uid">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="name form-control" name="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Team</label>
            <div class="col-sm-10">
              <input type="text" class="team form-control" name="team">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Job Level</label>
            <div class="col-sm-10">
              <select class="form-control job-level" name="job-level">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Admin</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="admin" name="admin">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default new-user">Create</button>
            </div>
          </div>
        </form>
      </div>
    </script>

    <script id="login_view" type="text/template">
      <div id="users_main"></div>
    </script>

    <script id="login_users_view" type="text/template">
      <div class="panel-heading">User List</div>
      <table class="table">
        <tr>
          <th>UserId</th>
          <th>Name</th>
          <th>Team</th>
          <th>JobLevel</th>
          <th>Admin</th>
          <th></th>
        </tr>
        <tbody id="user_list"></tbody>
      </table>
    </script>

    <script id="status_list_view" type="text/template">
      <div class="panel-heading">Status List</div>
      <table class="table">
        <tr>
          <th>Code</th>
          <th>Name</th>
        </tr>
        <tbody id="status_list"></tbody>
      </table>
    </script>

    <script id="status_view" type="text/template">
      <td><%- code %></td>
      <td><%- name %></td>
    </script>

    <script id="login_user_view" type="text/template">
      <td><%- uid %></td>
      <td><%- name %></td>
      <td><%- team %></td>
      <td><%- jobLevel %></td>
      <td><%- admin %></td>
      <td><a class="btn btn-default btn-xs login">Login</a></td>
    </script>

    <script src="./app/app.js"></script>
    <script src="./app/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="./app/assets/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
